.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 3.2rem;

    background: transparent;
}

.summary p {

    font-size: 2.4rem;
    color: hsl(224, 30%, 27%);
    font-weight: bold;

}

.summary ul {
    align-self: center;
    list-style: none;
}

.summary ul li {
    width: 100%;
}

.summary ul li:nth-child(1) {
    background-color: hsl(0, 100%, 67%);
}

.summary ul li:nth-child(2) {
    background-color: hsl(39, 100%, 56%);
}

.summary ul li:nth-child(3) {
    background-color: hsl(166, 100%, 37%);
}

.summary ul li:nth-child(4) {
    background-color: hsl(234, 85%, 45%);
}

.summary button {
    align-self: center;

    width:100%;
    background-color: hsl(224, 30%, 27%);
    
    font-size: 1.8rem;
    color:hsl(0, 0%, 100%);

    padding: 2rem 2rem;
    
    border: none;
    border-radius: 10rem;
}